<section class="pf2e-leveler credits-menu">
  <div class="credits-menu__brand">
    <i class="fa-solid fa-dice-d20"></i>
    <div>
      <div class="credits-menu__title">{{localize "PF2E_LEVELER.CREDITS.MODULE_NAME"}}</div>
      {{#if version}}<div class="credits-menu__version">v{{version}}</div>{{/if}}
    </div>
  </div>

  <p class="credits-menu__intro">{{localize "PF2E_LEVELER.CREDITS.INTRO"}}</p>

  <div class="credits-menu__entry">
    <div class="credits-menu__entryLabel">{{localize "PF2E_LEVELER.CREDITS.ORIGINAL_LABEL"}}</div>
    <div class="credits-menu__entryName">{{localize "PF2E_LEVELER.CREDITS.ORIGINAL_NAME"}}</div>
    <p class="credits-menu__entryText">{{localize "PF2E_LEVELER.CREDITS.ORIGINAL_TEXT"}}</p>
    <a class="credits-menu__link" href="https://github.com/roi007leaf/pf2e-leveler" target="_blank" rel="noopener">
      <i class="fa-brands fa-github"></i> github.com/roi007leaf/pf2e-leveler
    </a>
  </div>

  <div class="credits-menu__entry">
    <div class="credits-menu__entryLabel">{{localize "PF2E_LEVELER.CREDITS.FORK_LABEL"}}</div>
    <div class="credits-menu__entryName">{{localize "PF2E_LEVELER.CREDITS.FORK_NAME"}}</div>
    <p class="credits-menu__entryText">{{localize "PF2E_LEVELER.CREDITS.FORK_TEXT"}}</p>
    <a class="credits-menu__link" href="https://github.com/Darkiyus/Darkis-Better-PF2e-Leveler" target="_blank" rel="noopener">
      <i class="fa-brands fa-github"></i> github.com/Darkiyus/Darkis-Better-PF2e-Leveler
    </a>
  </div>

  <div class="credits-menu__license">
    <i class="fa-solid fa-scale-balanced"></i>
    <span>{{localize "PF2E_LEVELER.CREDITS.LICENSE_TEXT"}}</span>
  </div>
</section>
